In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import warnings
warnings.filterwarnings("ignore")

In [4]:
data = pd.read_csv('data.csv', sep=',', thousands=',',encoding='unicode_escape')
print(data.columns)
data

Index(['team1', '1recordx', '1record', '1o/u1', '1o/uline1', '1o/u2',
       '1o/uline2', '1o/u3', '1o/uline3', '1o/u4', '1o/uline4', '1o/u5',
       '1o/uline5', '1spreadx', 'spread', 'o/u', '1ptsx', '1ptslg', '1ptsvar',
       '1astsx', '1astslg', '1rebsx', '1rebslg', '1pfsx', '1pfslg', '1tosx',
       '1toslg', '1fgpercx', '1fgperclg', '13percx', '13perclg', '1ftx',
       '1ftlg', 'team2', '2recordx', '2record', '2o/u1', '2o/uline1', '2o/u2',
       '2o/uline2', '2o/u3', '2o/uline3', '2o/u4', '2o/uline4', '2o/u5',
       '2o/uline5', '2spreadx', '2ptsx', '2ptslg', '2ptsvar', '2astsx',
       '2astslg', '2rebsx', '2rebslg', '2pfsx', '2pfslg', '2tosx', '2toslg',
       '2fgpercx', '2fgperclg', '23percx', '23perclg', '2ftx', '2ftlg', 'over',
       'under', 'hold'],
      dtype='object')

,team1,1recordx,1record,1o/u1,1o/uline1,1o/u2,1o/uline2,1o/u3,1o/uline3,1o/u4,...,2toslg,2fgpercx,2fgperclg,23percx,23perclg,2ftx,2ftlg,over,under,hold
0,DEN,4,30,0,220.5,1,221.0,0,230.5,1,...,2.8,0.490498,0.415730,0.645860,0.474359,15.0,10.0,0,1,0
1,ATL,2,24,1,221.0,1,218.0,0,230.5,1,...,2.2,0.481880,0.522222,0.791178,0.671429,14.0,11.0,1,0,0
2,ORL,1,17,0,208.5,1,216.5,1,215.0,0,...,2.8,0.520521,0.506173,0.850896,0.773585,20.2,17.0,1,0,0
3,GS,1,20,1,218.0,1,228.5,0,218.5,0,...,2.4,0.466442,0.430233,0.701567,0.948718,14.0,14.0,0,0,1
4,CHA,3,23,0,220.0,1,213.5,0,223.0,0,...,2.8,0.456676,0.481928,0.553357,0.493827,19.2,22.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,CLE,1,17,0,221.0,0,225.5,0,207.5,0,...,2.0,0.433685,0.414634,0.499805,0.382022,13.8,14.0,0,1,0
591,CHA,3,23,0,220.0,1,213.5,0,223.0,0,...,3.2,0.517946,0.541667,0.721363,0.672414,19.4,24.0,0,0,1
592,LAC,4,28,1,230.0,1,220.0,0,220.5,1,...,2.8,0.471353,0.419753,0.473241,0.404762,16.0,25.0,0,0,1
593,UTA,5,34,0,221.0,1,227.0,1,228.0,0,...,2.2,0.481880,0.522222,0.791178,0.671429,14.0,11.0,1,0,0
594,LAL,4,27,0,208.5,0,207.5,0,214.0,0,...,3.2,0.489485,0.541176,0.568433,0.657143,14.8,17.0,0,1,0

In [46]:
def preprocess(data):
    max_cols = ['1fgpercx', '2fgpercx', '13percx', '23percx', '1record', '2record', '1fgperclg', '2fgperclg', '13perclg', '23perclg']
    for col in max_cols:
        max_val = max(data[col])
        data[col] /= max_val
    
    data['1recordx'] /= 5 #theoretically min is be 0
    data['2recordx'] /= 5 #theoretically min is be 0
    
    min_max_cols = ['1o/uline1', '1o/uline2','1o/uline3','1o/uline4','1o/uline5','2o/uline1','2o/uline2','2o/uline3',
                    '2o/uline4','2o/uline5', '1spreadx', '2spreadx', 'spread', 'o/u', '1ptsx', '1ptslg','2ptsx', 
                    '2ptslg','1ptsvar', '2ptsvar', '1astsx', '1astslg', '1rebsx', '1rebslg', '1pfsx', '1pfslg', 
                    '1tosx', '1toslg', '2astsx', '2astslg', '2rebsx', '2rebslg', '2pfsx', '2pfslg', '2tosx', '2toslg',
                    '1ftx','1ftlg', '2ftx', '2ftlg']
    for col in min_max_cols:
        max_val = max(data[col])
        min_val = min(data[col])
        data[col] = (data[col] - min_val)/max_val
    
    lst = []
    teams1 = {}
    counter = 0
    for i in range(len(data['team1'])):
        if '1'+data['team1'][i]  not in teams1.keys():
            teams1['1'+ data['team1'][i]] = counter
            lst.append(counter)
            counter += 1
        else:
            lst.append(teams1['1'+data['team1'][i]])
    data['team1'] = np.array(lst)
    
    lst = []
    teams2 = {}
    counter = 0
    for i in range(len(data['team2'])):
        if '2' + data['team2'][i]  not in teams2.keys():
            teams2['2'+data['team2'][i]] = counter
            lst.append(counter)
            counter += 1
        else:
            lst.append(teams2['2'+data['team2'][i]])
            
    data['team2'] = np.array(lst)
    
    team1 = pd.DataFrame(tf.one_hot(data.iloc[0:,0], 30).numpy())
    team2 = pd.DataFrame(tf.one_hot(data.iloc[0:,33], 30).numpy())
    team1.columns = teams1.keys()
    team2.columns = teams2.keys()
    
    data = data.join(team1)
    data = data.join(team2)
    
    cols = data.columns.to_list()
    cols = cols[0:1] + cols[33:34] + cols[1:33] + cols[34:64] + cols[67:] + cols[64:67]
    
    data = data[cols]
    return data
preprocess(data.copy())

,team1,team2,1recordx,1record,1o/u1,1o/uline1,1o/u2,1o/uline2,1o/u3,1o/uline3,...,2MIL,2DAL,2ORL,2CHI,2POR,2PHI,2ATL,over,under,hold
0,0,0,0.8,0.882353,0,0.058577,1,0.058568,0,0.097665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,1,1,0.4,0.705882,1,0.060669,1,0.045553,0,0.097665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
2,2,2,0.2,0.500000,0,0.008368,1,0.039046,1,0.031847,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
3,3,3,0.2,0.588235,1,0.048117,1,0.091106,0,0.046709,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
4,4,4,0.6,0.676471,0,0.056485,1,0.026030,0,0.065817,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,17,25,0.2,0.500000,0,0.060669,0,0.078091,0,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1,0
591,4,28,0.6,0.676471,0,0.056485,1,0.026030,0,0.065817,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,1
592,26,7,0.8,0.823529,1,0.098326,1,0.054230,0,0.055202,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
593,10,1,1.0,1.000000,0,0.060669,1,0.084599,1,0.087049,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
594,29,9,0.8,0.794118,0,0.008368,0,0.000000,0,0.027601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0

'1Den'